# Env file
.env

# MyPy files
.mypy_cache/

# Pip egg info
*.egg-info

# VSCode
.vscode/

# Scratch test files
test.py
trace.txt

# Pycache
scheduler/__pycache__/
tests/__pycache__/

# Artifacts
schedule.log
build/
dist/
*.log
*.swp

# Hypothesis files
.hypothesis/
